<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This project builds a Core Data application written in Python that uses Cocoa's NSDocument architecture.</string>
	<key>FilesToMacroExpand</key>
	<array>
		<string>«PROJECTNAMEASIDENTIFIER»_Prefix.pch</string>
		<string>Info.plist</string>
		<string>English.lproj/InfoPlist.strings</string>
		<string>English.lproj/MainMenu.xib</string>
		<string>English.lproj/«PROJECTNAMEASIDENTIFIER»Document.xib</string>
		<string>main.py</string>
		<string>«PROJECTNAMEASIDENTIFIER»Document.py</string>
		<string>main.m</string>
	</array>
	<key>FilesToRename</key>
	<dict>
		<key>CocoaAppDocument.py</key>
		<string>«PROJECTNAMEASIDENTIFIER»Document.py</string>
		<key>CocoaApp_Prefix.pch</key>
		<string>«PROJECTNAMEASIDENTIFIER»_Prefix.pch</string>
		<key>CocoaDocApp.xcdatamodel</key>
		<string>«PROJECTNAMEASIDENTIFIER»Document.xcdatamodel</string>
		<key>English.lproj/CocoaAppDocument.xib</key>
		<string>English.lproj/«PROJECTNAMEASIDENTIFIER»Document.xib</string>
	</dict>
</dict>
</plist>
